body{
    background-color: #F4EEEE;
    min-height: 100vh;
}

header{
    background-color: #96C291;
    padding: 25px;
    text-align: center;
}

.contenedor{
    display: grid;
    grid-template-columns: 1fr 5fr;
    gap: 20px;
}

.lateral{
    background-color: #FFB7B7;
    padding: 30px;
}

u{
    text-decoration: none;
    list-style: none;
}

li{
    height: 40px;
}

.elementos{
    display: grid;
    grid-template-columns: repeat(3,30%);
    gap: 20px;
}

#subti{
    width: 100%;
}

.caja {
    padding: 20px;
    border: 1px solid #cf956e;
    border-radius: 10px;
    background-color: #F4EEEE;
    width: 300px;
    height: 400px;
    text-align: left;
    margin: 5px;
}

footer{
    background-color: #FFDBAA;
}